/*div{*/
/*    border: 1px solid black;*/
/*}*/
@media screen and (min-width: 100px) {
    #content{
        width: 100%;
        height: 100%;
        text-align: center;

    }
    .answers{
        margin: 5px;
        box-shadow: 0 0 10px 0 rgba(0,0,0,0.5);
        width:45%;
        height: 15vh;
        float:left;
    }

}

@media screen and (min-width: 700px) {
    #content{
        width: 100%;
        height: 100%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .answers{
        background-color: red;
        width:45%;
        height: 15vh;
        display: block;
        float: left;
        flex-direction: column;
        text-align: center;
        align-items: center;
        justify-content: center;
    }
}
